{% extends 'base.html' %}

{% block title%}
Расчёт расстояния
{% endblock %}


{% block content %}
<h1> Расчитать расстояние </h1>

{% for cat, msg in get_flashed_messages(with_categories=True) %}

    <div class = 'alert alert-{{ cat }}'>
        <p>{{ msg }} </p>
    </div>
{% endfor %}
<form action=" {{ url_for('mkad_distance.index') }} " method="post">

    {% for field in form %}
     <div>
            {% if field.errors %}
            {% for error in field.errors %}
            <div class = 'alert alert-danger'>
                <p> {{ error }} </p>
            </div>
            {% endfor %}
            {% endif %}

            <p>{{ field.label() }}</p>
            <p>{{ field() }}</p>

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Расчитать расстояние</button>

</form>

{% endblock %}